body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    font-family: cursive;
  }
  
  .container {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .textarea {
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
  }
  
  .counter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
  
  .counter-container p {
    font-size: 18px;
    color: rgb(221, 237, 42);
  }
  
  .total-counter {
    color: rgb(221, 41, 218);
  }
  
  .remaining-counter {
    color:rgb(221, 41, 218);
  }