.head{
    color:black;

    font-weight: 500;
    font-size: xx-large;
    text-decoration: underline 5PX;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #2a9d8f;
  }
  

.box{
    
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #e76f51;
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form{
    width: 50%;
    
}

#qrvalue{
    margin: 1rem;
    border-spacing: 5px;   
    background-color:#e9c46a;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: larger;
}
#btn{
    background-color: #2a9d8f;
    border-radius: 5px;
    margin: 1rem;
    width:5rem;
    height: 2rem;
}