body {
    background-color: #3f3f3f;
    text-align: center;
    height: 1000px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #ff0000;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /* background: rgb(0, 34, 255); */
    border-radius: 25px;
    /* gradient */
    background: linear-gradient(to bottom, #ff0000, #0000ff);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 255, 0);
}

.navbar {
    /* overflow: hidden; */
    /* background-color: #333; */
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

nav {
    color: #ffffff;
    background-color: black;
    position: sticky;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.logo {
    text-align: center;
    align-items: center;
    justify-content: center;
}

brand {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    background: -webkit-linear-gradient(#eee, rgb(0, 208, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    padding: 10px;
}

.red {
    color: #ff0000 !important;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.left-side-navbar {
    flex-basis: 70%;
}

.main {
    margin-top: 25px;
}

code {
    font-size: xx-large;
    color: #ffffff;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 4 / 7 / 6;
}

.div2 {
    grid-area: 1 / 1 / 4 / 4;
}

.div3 {
    grid-area: 4 / 1 / 7 / 4;
}

.command-options {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: #ffffff 0px 5px 10px;
    /* height: 500px; */
}

.command {
    padding: 20px;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 10px;
    /* box-shadow: #747474 0px 5px 10px; */
    /* margin: 10px; */
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: yellow;
    font-size: large;
    font-weight: bold;
    text-decoration: dashed;
    cursor: pointer;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.input-text-field {
    width: 798px;
    height: 242px;
    border: aqua 2px solid;
    background-color: #141313;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.output-text-field {
    width: 798px;
    height: 242px;
    border: rgb(255, 0, 0) 2px solid;
    background-color: #434343;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}