body
{
    background: url(Images/background-image.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}
form p{
    text-align: center;
}
form h1{
    text-align: center;
}

h2{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}


/* Class */

.heading{
    margin: 3% 2% ;
    font-weight: 700;
}

.Form-buttons{
    padding-bottom: 2%;
}

/* .container 
{
    text-align: center;
} */
/* #btn {
    content: '';
    font-size: 25px;
    background: darkcyan;
    color: #fff;
    font-weight: 300;
    border: 1px solid darkcyan;
    border-radius: 2px;
}
#btn:hover {
    background: transparent;
    color: #fff;
} */

