body
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}
form p{
    text-align: center;
}
form h1{
    text-align: center;
}

h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}

hr{
    size: 5rem;
}

/* Classes */

.heading{
    margin: 3% 2% ;
    font-weight: 700;
}

.Form-buttons{
    padding-bottom: 2%;
}
