@import url('https://fonts.googleapis.com/css2?family=Monserrat:wght@300&display=swap');

:root{
    --font-semi: 400;
  }
  :root{
    --first-color: purple;
    --second-color: #0f0f0f;
  }
  
  :root{
    --body-font: 'Monserrat', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 3rem;
      --normal-font-size: 1rem;
    }
  }
  
  :root{
    --mb-1: 0.6rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  *,::before,::after{
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    margin: 10px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-color: #fff;
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /*===== CLASS CSS ===== */
  .section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }
  .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    background-color: #fff;
  }
  .l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
  }
  @media screen and (max-width: 768px){
    .nav__menu{
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: #fff;
      transition: .5s;
    }
}
  /*Active menu*/
  .active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /*=== Show menu ===*/
  .show{
    right: 0;
  }
  
  /* ===== WORK =====*/
  .work__container{
    row-gap: 2rem;
  }
  .work__img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    overflow: hidden;
  }
  .work__img img{
    transition: 1s;
    cursor: pointer;
  }
  .work__img img:hover{
    transform: scale(1.1);
  }
  
  /* ===== MEDIA QUERIES===== */
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--mb-6);
    }
    .section-title::after{
      width: 80px;
      top: 3rem;
    }
    .work__container{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
      column-gap: 2rem;
    }
}
  @media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
  }

.row{
    justify-content: space-around;
    font-size: 1rem;
    padding-top:80px;
    padding-right: 50px;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0 1rem 0 rgba(43, 38, 38, 0.1);
    display: flex;
    flex-wrap: wrap;
    color: #000;
    transition: .4s ease-out;
}