* {
  padding: 0;
  margin: 0;
  font-family: "sans";
  user-select: none;
}

@font-face {
  src: url("font/sans.ttf");
  font-family: "sans";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #008cb4, #000000);
}

h2 {
  position: absolute;
  top: 0;
  padding-top: 180px;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.inputBox {
  position: relative;
  width: 500px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.myForm{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 24px;
  box-sizing: border-box;
  border-radius: 3px;

  border-radius: 0.1px;


}
.myForm th{
  padding: 10px;
}

#password {
  position: relative;
  width: 400px;
  height: 50px;
  border: none;
  margin: 15px 0 15px;
  padding: 20px;
  font-size: 24px;
  letter-spacing: 3px;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}
#min {
  position: relative;
  width: 100px;
  height: 50px;
  border: none;
  margin: 15px 0 15px;
  padding: 20px;
  font-size: 24px;
  letter-spacing: 3px;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-input-placeholder {
  text-align: center;
}
.radioCSS{
  padding-right: 20px;
  margin-right: 5px;
  width:1.1rem;
  height: 1.1rem;
  position: relative;


}

#button {
  position: absolute;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 40px;
  border: 2px solid #020004;
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: #fbfcfc;
  display: flex;
  color: fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn1 {
  margin-left: 60px;
}
.btn2 {
  margin-left: 260px;
}

#button:hover {
  color: white;
  background-color: black;
}
