body {
  background-image: url("numbers.png");
}
.header {
  background-color: #000000;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 5rem;
  font-family: "Black Ops One", cursive;
  color: red;
  text-shadow: 2px 2px black;
}
.container {
  width: 640px;
  height: 450px;
  background-color: black;
  text-align: center;
  border: 0.5rem solid lavenderblush;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  color: white;
  padding-top: 100px;
}
h2:hover {
  color: red;
}
#user {
  width: 450px;
  height: 40px;
  margin: 20px 10px;
}
.btn {
  width: 185px;
  font-size: 1.5rem;
  font-family: "Black Ops One", cursive;
  border-radius: 20px;
  padding:0px ;
  margin: 10px 20px;
  cursor: pointer;
}

p {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 30px;
}
