/*******************************/
/******* Page Header CSS *******/
/*******************************/

.page-header {
    height: 100vh;
    position: relative;
    margin-bottom: 45px;
    padding: 300px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/page-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px #1c1c1c7a;
}

.page-header h2 {
    position: relative;
    color: rgba(252, 74, 74, 1);
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    left: calc(50% - 50px);
    bottom: 0;
    background: rgba(252, 74, 74, 1);
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 130px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
}

/*******************************/
/******* About CSS *******/
/*******************************/

.about {
    width: 100%;
    padding: 30px 80px 30px 80px;
}

.about .content img {
    height: auto;
    width: 540px;
    max-width: 100%;
}

.content {
    width: 1130px;
    max-width: 99%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 550px;
    max-width: 100%;
    padding: 0px 10px;
}

.text h5 {
    color: rgba(252, 74, 74, 1);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.text h1 {
    margin-bottom: 20px;
    line-height: 1.2;
}

@media(max-width: 1067px) {
    h5 {
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
    }
    h1 {
        font-size: 30px;
    }
}

.nav {
    margin-bottom: 10px;
    border: 0;
}

.nav .nav-item .nav-link {
    padding: 8px;
    width: 175px;
    color: #4a4c70;
    font-size: 18px;
    font-weight: 600;
    border: 0;
}

@media(max-width: 768px) {
    .nav .nav-item .nav-link {
        width: 90px;
    }
}

.nav .nav-item .nav-link.active, .nav .nav-item .nav-link:hover {
    color: rgba(252, 74, 74, 1);
    border-bottom: 3px solid rgba(252, 74, 74, 1);
}