/*******************************/
/******* Page Header CSS *******/
/*******************************/

.page-header {
    height: 100vh;
    position: relative;
    margin-bottom: 45px;
    padding: 300px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/page-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px #1c1c1c7a;
}

.page-header h2 {
    position: relative;
    color: rgba(252, 74, 74, 1);
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    left: calc(50% - 50px);
    bottom: 0;
    background: rgba(252, 74, 74, 1);
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 130px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .contact-img {
    position: relative;
    width: 100%;
}

.contact .contact-img img {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.contact-form {
    width: 60%;
    padding: 40px;
    background-color: rgba(252, 74, 74, 1);
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -220px;
    padding: 30px;
}

.contact-form h2 {
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.contact-form .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .inputbox input, .contact-form .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    resize: none;
}

.contact-form .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #000;
}

.contact-form .inputbox input:focus ~ span, 
.contact-form .inputbox input:valid ~ span,
.contact-form .inputbox textarea:focus ~ span,
.contact-form .inputbox textarea:focus ~ span  {
    color: #000;
    font-size: 12px;
    transform: translateY(-20px);
    font-weight: 300;
}

.contact-form .inputbox input[type="submit"] {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #000;
    background-color: #fffff0;
}

@media (max-width: 768px) {
    .contact {
        padding: 0;
        margin: 0;
    }
    .contact .heading h2{
        padding-top: 5px;
        width: 200px;
        text-align: center;
        font-weight: 100;
        font-size: 25px;
        margin: 0 auto 3px;
    }
    .contact .heading::after {
        height: 10px;
        width: 10px;
        top: calc(95% - 7px);
        border: 1px solid rgba(252, 74, 74, 1);
    }
    .contact-us {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact-us .contact-info {
        margin-bottom: 30px;
    }
    .contact-us .contact-info, .contact-form {
        width: 100%;
    }
}