/*******************************/
/******* Page Header CSS *******/
/*******************************/

.page-header {
    height: 100vh;
    position: relative;
    margin-bottom: 45px;
    padding: 300px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/page-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px #1c1c1c7a;
}

.page-header h2 {
    position: relative;
    color: rgba(252, 74, 74, 1);
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 4px;
    left: calc(50% - 50px);
    bottom: 0;
    background: rgba(252, 74, 74, 1);
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 130px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
}

/*******************************/
/********* Donate CSS **********/
/*******************************/
.donate {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/volunteer.jpg");
}

.donate .donate-content {
    padding: 45px 0 15px 0;
}

.container .donate {
    margin: 90px 0;
}

.container .donate .donate-content {
    padding: 45px 30px 15px 30px;
}

.donate .donate-content .section-header {
    margin-bottom: 30px;
}

.donate .donate-content .section-header h2 {
    color: #fff;
}

.section-header p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.donate .donate-text p {
    color: #ffffff;
    font-size: 18px;
}

.donate .donate-form {
    padding: 140px 30px;
    background: rgba(252, 74, 74, 1);
}

.donate .donate-form .control-group {
    margin-bottom: 15px;
}

.donate .donate-form .form-control {
    height: 60px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ffffff;
    background: transparent;
}

.donate .donate-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.donate .donate-form .form-control:-ms-input-placeholder,
.donate .donate-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.donate .donate-form .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.donate .donate-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.donate .donate-form .btn.btn-custom:hover,
.donate .donate-form .btn.btn-custom.active {
    color: rgba(252, 74, 74, 1);
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}

/*******************************/
/******** Volunteer CSS ********/
/*******************************/
.volunteer {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/volunteer.jpg");
}

.container .volunteer {
    margin: 90px 0;
}

.container .volunteer .volunteer-content {
    padding: 45px 30px 15px 30px;
}

.volunteer .volunteer-content .section-header {
    margin-bottom: 30px;
}

.volunteer .volunteer-content .section-header h2 {
    color: #ffffff;
}

.volunteer .volunteer-text p {
    color: #ffffff;
    font-size: 18px;
}

.volunteer .volunteer-form {
    padding: 90px 30px;
    background: rgba(252, 74, 74, 1);
}

.volunteer .volunteer-form .control-group {
    margin-bottom: 15px;
}

.volunteer .volunteer-form .form-control {
    height: 60px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #ffffff;
    background: transparent;
}

.volunteer .volunteer-form textarea.form-control {
    height: 120px;
    padding: 15px;
}

.volunteer .volunteer-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.volunteer .volunteer-form .form-control:-ms-input-placeholder,
.volunteer .volunteer-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom {
    padding: 15px 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom:hover {
    color: rgba(252, 74, 74, 1);
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 30px #ffffff;
}