body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 400px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 1px #cacaca;
}
.wrapper h1 {
    text-align: center;
    margin: 13p 0px;
}
input {
    height: 25px;
    text-align: center;
}
#input {
   margin-left: 30px;
}
#result {
    margin-left: 20px;
}
#inputType, #resultType {
    width: 166.66px;
    margin-left: 25px;
}
#resultType {
    margin-left: 20px;
}