*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(360deg,rgba(252,118,106,1) 34%,rgba(255,255,255,1) 100%)
}
.wrapper {
    width: 385px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 1px #cacaca;
    background: #FFF;
    border-radius: 10px;
}
.wrapper h1 {
    text-align: center;
    margin: 13p 0px;
    font-weight: 900;
}
.wrapper form{
    margin: 35px 0 20px 0;
}
form  :where(input, select, button)
{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px ;
}
 p{
    padding-bottom:10px ;
    font-family: sans-serif;
    font-weight: 500;
}
.from, .to{
    margin-top: 10px;
}
form input{
    height: 50px;
    font-size: 17px;
    border: 1px solid #cacaca;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid #cacaca;
}
form .drop-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box {
    display: flex;
    height: 40px;
    width: 115px;
    align-items: center;
    justify-content: center;
    border: 1px solid #C0C0C0;
}
.select-box select{
    width: auto;
}
.drop-list .icon{
    font-size: 20px;
    margin-top: 30px;
}
#btn{
        height: 50px;
        color: #FFF;
        font-size: 17px;
        cursor: pointer;
        background: #FC766AFF;
        margin-top: 33px;
    }
    #btn:hover{
        color:#FC766AFF ;
        background: #FFF;
        border: 2px solid#FC766AFF ;
        transition: 0.3s;
    }
    .result-area .result{
        padding-top: 20px;
    }