.heading {
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #40DFEF;
}

table {
  font-size: 1.5rem;
}

.timer {
  width: 300px;
  height: 145px;
  background-color: white;
  border: 10px ridge black;
}

.box {
  text-align: center;
}

.box h1 {
  margin: 30px auto;
}

.box p {
  font-size: 80px;
  margin: 40px auto;
}

.btn {
  margin: 5px 5px;
  font-size: 1.5rem;
  font-family: 'Cinzel', serif;
  width: 150px;
}
