*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .upper-layer{
    background-color: #f1f1f1;
    color:purple;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width:100%;
    box-shadow: 0 2px 3px black;
    background-color: #e3c8e3;
    
    
  }
  
  .upper-layer h1{
    font-size: 2.6rem;
    font-weight: bold;
    font-family:sans-serif;
    padding-top: .5cm;
  }
  .button-menu{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
    flex-wrap:wrap;
  
  }
  button{
    margin:5px;
  }
  .btn{
    font-size: 18px;
    padding: 5px;
    color:white;
    background-color: #8c7494bd;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 3px black;
  }
  .btn:hover{
    background-color: purple;
  }
  .main-content{
      display: flex;
      justify-content: center;
  }
  textarea{
    border:5px solid #987798;
    box-shadow: 0 3px 4px black;
    font-size: 18px;
    padding: 10px;
    indent:0;
    
  }
  footer {
    padding-top: 2cm;
    color: #a887b1;
    text-align: center;
  
  }

  .social-icons{
      padding-top: 1.5em;
    background-color: #a887b1;
    height: 1.7cm;
  }

.fa-instagram{
  padding-left: .5cm;
  color:rgb(190, 16, 112)
}
.fa-twitter{
  padding-left: .5cm;
  color:rgb(24, 161, 224)
}
.fa-linkedin{
  padding-left: .5cm;
  color:rgb(52, 17, 250)
}
.fa-facebook{
  padding-left: .5cm;
  color:rgb(72, 62, 209)
}

