* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cv-form {
    background-color: rgb(251, 255, 229);
    /* display: none; */
}

#cv-template {
    display: none;
}

.myimg {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.background {
    background-color: rgb(248, 253, 207);
}

.left-template {
    background-color: rgb(108, 141, 249);
    color: white;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

h1 .nameT {
    text-transform: capitalize;
}

.card-header {
    color: rgb(61, 61, 61);
    padding: 6px !important;

}