*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    display:flex;
    width:600px;
    margin:auto;
    margin-top:5%;
    margin-bottom:10%;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color:darkslateblue;
    box-shadow:8px 8px black;
    color:white;
    padding:5% 0%;
}

#currDate{
    font-size:40px;
    margin:20px;
    font-weight:bold;
}

input{
    font-size:20px;
    padding:15px;
    margin:20px;
    text-align:center;
    border-radius:20px;
    border:1px solid yellow;
    cursor:pointer;
}

button{
    font-size:20px;
    padding:10px 20px;
    border-radius:10px;
    border:none;
    background-color:yellow;
    color:black;
    margin:20px;
    text-transform: uppercase;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background-color:white;
    color:blue;
}
#age{
    font-size:50px;
    text-align:center;
    color: aqua;
}
