@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 5px;
}

h2 {
  margin: 0;
}

h5 {
  margin: 10px 0;
}

li {
  margin-bottom: 0;
}

.meal {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
